.contenedor-juego {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    border: 2px solid #4cff43;
    position: relative;
    padding: 10px;
}
.oculto {
    display: none;
}
#elementos-basura {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    margin: auto;
    height: 300px;
    background-image: linear-gradient(45deg, #001eff, #5efff4);
}
.elemento-basura {
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: grab;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
#contenedores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.contenedor {
    margin: 10px;
    padding: 20px;
    width: calc(100% / 3);
    text-align: center;
    width: 50px;
    height: 70px;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        pointer-events: none;
    }
}
.Organico {
    background-image: url(../images/Organico.png);
    background-size: cover;
}
#pantalla-victoria {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffff;
    background-color: #0000002b;
}
#pantalla-victoria h1 {
    font-size: 3em;
    background-image: linear-gradient(45deg, #22ff00, #5efff4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: auto;
}
